* {
    border: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.navbar-collapse {
    flex-grow: 0;  

}

.navbar {
    justify-content: space-between;
    background-color: #050505;
background-image: linear-gradient(135deg, #050505 0%, #565dd4 100%);

}


main {
    margin-top: 25px !important;
}

.jumbotron {
    min-height: 100vh;
    padding: 50px;
}


.navbar a {
    color: white;
}



.Skills {
    margin-top: 50px;
}

.container {
    text-align: center;
    align-items: center;
    padding: 30px;
    
}

.jumbotron  {
   text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #050505;
background-image: linear-gradient(135deg, #050505 0%, #565dd4 100%);

}

.jumbotron img { 
    padding: 30px;
}


.list {
    list-style-type: none;
    
}

.list li {
    display: inline;
    padding: 20px;
    margin: 30px;
    align-items: center;
}

h1 {
    padding: 30px;
}

.work {
    color: white;
    background-color: #050505;
    background-image: linear-gradient(135deg, #050505 0%, #565dd4 100%);

}

.card-body {
    color: black;
}

.contact {
    color: white;
    background-color: #050505;
    background-image: linear-gradient(135deg, #050505 0%, #565dd4 100%);

}

footer a:link {
    color: white;
}

footer a:visited {
    color: white;
}

footer a:hover {
    color:gray;
}

footer a:active {
    color:white;
}

.contact a {
    color: white;
    text-decoration: none;
}

h1 {
    font-family: 'Anton', sans-serif;
}

.navigator {
    font-family: 'Economica', sans-serif;
    font-size: 18px;
}

p {
    font-family: 'Economica', sans-serif;
    font-size: 28px;
}








